<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>
    <body>
        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>
        <main>
            <section>
                <form class="main_container">
                    <input id="user_input" type="text" name="input" placeholder="Name">
                    <button id="submit_button" type="button"> Generate</button>
                </form>
            </section>
            <section>
                <div id="app-data-block">
                    <label for="app-data-block"><strong>Form Results:</strong></label>
                    <div class="info-text" style="display: block;">
                        Here will be your mood info according to your entry.
                    </div>
                    <div id="results" style="display: none;">
                        <div id="entry">Your entry:
                            <div class="entry-info"></div>
                        </div>
                        <div id="mood">Your mood:
                            <div class="mood-info"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <p>This is a footer</p>
        </footer>
    </body>
</html>
