<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Recognize Fillings App</title>
    </head>
    <body>
            <header class="header box">
                <img id="logo">
                <h1 class="title">
                    Get Know Your Today's Mood
                </h1>
            </header>
            <main id="app">
                <section id="user-entry-data-block">
                    <form class="main_container">
                        <label for="user_input">Enter your feelings here <span
                                class="required-text">(required)</span></label>
                        <input id="user_input" type="text" name="input" placeholder="enter text here">
                        <button id="submit_button" type="button"> Generate</button>
                    </form>
                </section>
                <section id="app-data-block">
                    <label for="app-data-block">Your Result:</label>
                    <div class="info-text" style="display: block;">
                        Here will be your mood info according to your entry.
                    </div>
                    <div id="results" style="display: none;">
                        <div id="mood">Your mood:
                            <div class="mood-info"></div>
                        </div>
                        <div id="entry">Your entry:
                            <div class="entry-info"></div>
                        </div>
                    </div>
                </section>
            </main>
            <footer>
                <p>This is a footer</p>
            </footer>
    </body>
</html>
